html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

$block-background: #E9E9E9;
$block-hover-background: #214a8c;
$body-background: #E1E1E1;

.index #gridTarget {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $body-background;
}

#gridTarget .row {
  display: flex;
}

#gridTarget .row .block {
  flex: 0 0 20px;
  height: 20px;
  background-color: $block-background;
  border: 1px solid $body-background;
  transition: background 60s ease-in;

  &:hover {
    transition: background 75ms;
    background-color: $block-hover-background;
  }

  &:active {
    background-color: $block-background;
  }

  &.irritate:hover {
    background-color: $block-background;
  }
}
